@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}.font-family-karla {
  font-family: karla;
}

.bg-sidebar {
  background: #3d68ff;
}

.cta-btn {
  color: #3d68ff;
}

.upgrade-btn {
  background: #1947ee;
}

.upgrade-btn:hover {
  background: #0038fd;
}

.active-nav-link {
  background: #1947ee;
}

.nav-item:hover {
  background: #1947ee;
}

.account-link:hover {
  background: #3d68ff;
}